<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

        <!-- Load polyfills to support older browsers -->
        <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

        <!-- Load Vue followed by BootstrapVue -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--        <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
        {% block head %}
        {% endblock head %}
        <title>{% block title %}{% endblock title %}</title>
        <style>
            html, body {
              height: 100%;
              overflow-x: hidden;
            }
        </style>
    </head>
    <body>
        <header>
        <div class="container-fluid h-100">
                <div class="row justify-content-between my-header">
                    <div class="col-md-1 align-self-center">Logo</div>
                    <div class="col-md-4">
                        <div class="row align-items-center">
                            <div class="col-md-4">Welcome, {{ name }}</div>
                            <div class="col">
                                <a href="{% url 'menu' %}">Menu</a>
                            </div>
                            <div class="col">
                                <a href="{% url 'checkout' %}">Cart</a>
                            </div>
                            <div class="col">
                                <a href="{% url 'order' %}">Orders</a>
                            </div>
                            <div class="col">
                                <a href="/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        {% block body %}
        {% endblock body %}
        </div>
    </body>
</html>