<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--        <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    {% block head %}
    {% endblock head %}
    <title>{% block title %}{% endblock title %}</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html, body {
            height: 100%;
            width: 100%;
            overflow-x: hidden;
        }
        .custom-container{
            display: flex;
            flex-flow: column;
            height: 100%;
            width: 100%;
        }
        .main{
            flex: 1 1 auto;
            overflow: auto;
        }
    </style>
</head>
<body>
    <div class="custom-container d-flex h-100" style="padding: 0px; flex-flow: column;">
        <b-navbar toggleable="lg" type="dark" style="background-color:#171a29" fixed id="base">
        <b-navbar-brand href="/">Restocafe</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
              <b-nav-text class="pr-2">Hey, {{ user.name }} </b-nav-text>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto" right>
              <b-nav-item class="mx-3" href="{% url 'menu' %}">Menu</b-nav-item>
              <b-nav-item class="mx-3" href="{% url 'checkout' %}">My Cart</b-nav-item>
              {% if user.groups.all.0.name == 'Customers' %}
              <b-nav-item class="mx-3" href="{% url 'order' %}">My Orders</b-nav-item>
              {% else %}
              <b-nav-item-dropdown class="mx-3" text="Orders" right>
                <b-dropdown-item href="{% url 'staff_orders' %}">Manage Orders</b-dropdown-item>
                <b-dropdown-item href="{% url 'order' %}">View all Orders</b-dropdown-item>
              </b-nav-item-dropdown>
              {% endif %}
              {% if user.groups.all.0.name == 'Admin' %}
              <b-nav-item-dropdown class="mx-3" text="Admin" right>
                <b-dropdown-item href="{% url 'view_all_menus' %}">Menus</b-dropdown-item>
                <b-dropdown-item href="{% url 'users' %}">Users</b-dropdown-item>
                <b-dropdown-item href="{% url 'insights' %}">Insights</b-dropdown-item>
              </b-nav-item-dropdown>
              {% endif %}
            <b-nav-item class="mx-3" href="/logout">Sign Out</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
{% block body %}
{% endblock body %}
    </div>
    <script>
    var app = new Vue({
        delimiters: ['[[',']]'],
        el: '#base'
    });
    var perfEntries = performance.getEntriesByType("navigation");

    if (perfEntries[0].type === "back_forward") {
        location.reload(true);
    }
    </script>
</body>
</html>