{% extends 'mainbase.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock head %}

{% block title %}
Menu
{% endblock title %}

{% block body %}
<div class="row h-100" id="app">
    <div class="col-md-3"></div>
    <div class="col-md-6 h-100 mt-1 px-3 py-3">
        <div v-for="menu in menus">
            <h3 :id="menu.name">[[ menu.name ]]</h3>
            <hr class="solid">
            <b-card v-for="item in menu.items" :key="item.id" class="mb-3">
                <div class="row">
                    <div class="col-md-9">
                        <b-img class="mr-3" v-if="item.image" left :src="item.image" alt="No image found" width="120px" height="120px"></b-img>
                        <b-img class="mr-3" v-else left src="{% static 'img/no-image.jpg' %}" alt="No image found" width="120px" height="120px"></b-img>
                        <b-card-text class="md-1"><h5 class="md-1">[[ item.name ]]</h5></b-card-text>
                        <b-card-text class="md-1">₹[[ item.price ]]</b-card-text>
                        <b-card-text class="md-1">[[ item.description ]]</b-card-text>
                    </div>
                    <div class="col-md-3 d-flex flex-column justify-content-center align-items-end">
                        <div v-if="cartitems[item.id]">
                            <inc-dec :id="item.id" :cartitemid="cartitems[item.id]" :quantity="itemquantity[item.id]"></inc-dec>
                        </div>
                        <div v-else>
                            <inc-dec :id="item.id" :quantity=0></inc-dec>
                        </div>
                    </div>
                </div>
            </b-card>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>

<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    Vue.component('inc-dec', {
    props: ['cartitemid','id', 'quantity'],
    data: function(){
        return{
        }
    },
    mounted: function(){
    },
    methods: {
        increment: function(){
            this.decider("i")
        },
        decrement: function(){
            this.decider("d")
        },
        create: function(){
            axios.post("{% url 'view_cart_item' %}", {
                item: this.id,
                quantity: 1
            })
            .then(response => {
                this.$parent.getcartitems()
            })
            .catch(function(error){
                alert(error.data)
            })
        },
        update: function(value){
            axios.put("{% url 'view_cart_item' %}" + this.cartitemid, {
                item: this.id,
                quantity: value
            })
            .then(response =>{
                this.$parent.getcartitems()
            })
            .catch(function(error){
                alert(error.data)
            })
        },
        delete: function(){
            axios.delete("{% url 'view_cart_item' %}" + this.cartitemid)
            .then(response =>{
                this.$parent.getcartitems()
                this.$parent.itemquantity[this.id] = 0
            })
            .catch(function(error){
                console.log(error.data)
            })
        },
        decider: function(typ){
            if (this.quantity == 0 && typ == "d"){
                return
            }
            else if (this.quantity == 0 && typ == "i"){
                this.create()
            }
            else if (this.quantity == 1 && typ == "d"){
                this.delete()
            }
            else if (typ == "d"){
                this.update(this.quantity - 1)
            }
            else{
                this.update(this.quantity + 1)
            }
        }
    },
    template: `
    <b-button-group>
      <b-button v-on:click="decrement()">-</b-button>
      <input type="button" class="btn btn-secondary" :value="quantity">
      <b-button v-on:click="increment()">+</b-button>
    </b-button-group>`
    });

    var app = new Vue({
        delimiters: ['[[',']]'],
        el: '#app',
        data: function(){
            return{
                menus: null,
                cartitems: {},
                itemquantity: {}
            }
        },
        mounted: function() {
            axios.get("{% url 'active_menu_items' %}")
            .then(response => (this.menus = response.data))
            .catch(function(error){
                alert(error)
            })
            this.getcartitems()

        },
        methods: {
            getcartitems: function(){
            axios.get("{% url 'view_cart_item' %}")
            .then(response => {
                this.cart = response.data
                for (var cartitem of response.data){
                    Vue.set(this.cartitems, cartitem.item, cartitem.id)
                    Vue.set(this.itemquantity, cartitem.item, cartitem.quantity)
                }
            })
            .catch(function(error){
                alert(error)
            })
            }
        }
    });
</script>
{% endblock body %}