{% extends 'mainbase.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock head %}

{% block title %}
Menu
{% endblock title %}

{% block body %}
<div class="row h-100" id="app">
    <div class="col-md-2 bg-light">

    </div>
    <div class="col">
        <h4 class="my-3">View All Orders</h4>
    <template>
        <div>
            <b-table fixed hover :fields="fields" :items="orders" responsive="sm" class="text-center align-items-center"
                     :per-page="perPage" :current-page="currentPage" responsive="sm">
                <template #cell(index)="data">
                    [[ data.index + 1 ]]
                </template>

                <template #cell(id)="data">
                    <a :href=" baseURL + data.item.id "> Order #[[ data.item.id ]]</a>
                </template>

                <template #cell(status)="data">
                    <div v-if="data.item.status === 'P'">Pending</div>
                    <div v-if="data.item.status === 'D'">Delivered</div>
                </template>

                <template #cell(rating)="data">
                    <div v-if="data.item.status === 'D'">
                        <div v-if="data.item.rating">
                            <b-form-rating id="rating-inline" variant="warning" no-border
                                           readonly inline :value="data.item.rating"></b-form-rating>
                        </div>
                        <div v-else>
                            {% if group == "Customers" %}
                            <a :href="data.item.id + '/rating'" class="btn btn-primary">Rate us</a>
                            {% else %}
                            <button class="btn btn-secondary">N/A</button>
                            {% endif %}
                        </div>
                    </div>
                    <div v-else>
                        <button class="btn btn-secondary">N/A</button>
                    </div>
                </template>
            </b-table>
            <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage"></b-pagination>
        </div>
    </template>
    </div>
    <div class="col-md-2 bg-light"></div>
</div>

<script>
    Vue.component('rating', {
        props: ['rating'],
        template: '<b-form-rating id="rating-inline" inline value="rating"></b-form-rating>'
    });

    var app = new Vue({
        delimiters: ['[[',']]'],
        el: '#app',
        data: {
            fields: [
                {key: 'id', label: 'Order ID', sortable: true},
                {key: 'date', label: 'Date', sortable: true},
                {key: 'total', label: 'Total', sortable: true},
                {key: 'status', label: 'Status', sortable: true},
                {key: 'rating', label: 'Rating'}
            ],
            orders: [],
            baseURL: "{% url 'order' %}",
            perPage: 10,
            currentPage: 1

        },
        computed:{
            rows() {
                return this.orders.length
            }
        },
        mounted: function() {
            this.getOrder()
        },
        methods: {
            getOrder: function(){
                axios.get("{% url 'view_order' %}")
                .then(response => {
                    this.orders = response.data
                })
                .catch(function(error){
                    console.log(error)
                })
            }
        }
    });
</script>
{% endblock %}
