{% extends 'mainbase.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock head %}

{% block title %}
Menu
{% endblock title %}

{% block body %}
<div class="row h-100" id="app">
    <div class="col-md-2"></div>
    <div class="col">
        <table class="table" id="orders-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order No</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="order in orders">
                    <td></td>
                    <td><a :href="baseURL + order.id">Order #[[order.id]]</a></td>
                    <td>[[order.total]]</td>
                    <td v-if="order.status === 'P'">Pending</td>
                    <td v-else>Delivered</td>
                </tr>
            </tbody>
        </table>
    </div>
    <template>
        <div>
            <b-table small :fields="fields" :items="orders" responsive="sm">
                <template #cell(index)="data">
                    [[ data.index + 1 ]]
                </template>

                <template #cell(id)="data">
                    <a :href=" baseURL + data.item.id ">[[ data.item.id ]]</a>
                </template>

                <template #cell(status)="data">
                    <div v-if="data.item.status === 'P'">Pending</div>
                    <div v-if="data.item.status === 'D'">Delivered</div>
                </template>
            </b-table>
        </div>
    </template>
    <div class="col-md-2"></div>
</div>

<script>
    var app = new Vue({
        delimiters: ['[[',']]'],
        el: '#app',
        data: {
            fields: [
                'index',
                {key: 'id', label: 'Order ID'},
                'date',
                'total',
                'status'
            ],
            orders: [],
            baseURL: "{% url 'order' %}"
        },
        mounted: function() {
            this.getOrder()
        },
        methods: {
            getOrder: function(){
                axios.get("{% url 'view_order' %}")
                .then(response => {
                    this.orders = response.data
                    console.log(this.orders)
                })
                .catch(function(error){
                    console.log(error)
                })
            }
        }
    });
</script>
{% endblock %}
