{% extends 'mainbase.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">

<style>
    table{
        counter-reset: Serial;
    }
    tr td:first-child:before{
        counter-increment: Serial;
        content: counter(Serial);
    }
</style>
{% endblock head %}

{% block title %}
Menu
{% endblock title %}

{% block body %}
<div class="row h-100" id="app">
    <div class="col-md-2"></div>
    <div class="col">
        <table class="table" id="orders-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order No</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="order in orders" v-if="order.status === 'P'">
                        <td></td>
                        <td><a :href="baseURL + order.id">Order #[[order.id]]</a></td>
                        <td>[[order.total]]</td>
                        <td><deliver :key="order.id" :order_id="order.id"></deliver></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    Vue.component('deliver', {
    props: ['order_id'],
    data: function(){
        return{
        }
    },
    methods: {
        update: function(){
            axios.patch("{% url 'root' %}" + "api/v1/updateorder/" + this.order_id, {
                status: "D"
            })
            .then(response =>{
                this.$parent.getOrder()
            })
            .catch(function(error){
                alert(error.data)
            })
        }
    },
    template: `<button @click="update()" type="button" class="btn btn-secondary">Deliver</button>`
    });

    var app = new Vue({
        delimiters: ['[[',']]'],
        el: '#app',
        data: {
            orders: [],
            baseURL: "{% url 'order' %}"
        },
        mounted: function() {
            this.getOrder()
        },
        methods: {
            getOrder: function(){
                axios.get("{% url 'view_order' %}")
                .then(response => {
                    this.orders = response.data
                })
                .catch(function(error){
                    console.log(error)
                })
            }
        }
    });
</script>
{% endblock %}
