{% extends 'mainbase.html' %}

{% block body %}
    <div class="row no-gutters py-3 main bg-light">
        <div class="col-md-3"></div>
        <div class="col-md-6" id="app">
            <div class="card px-3 py-3">
                <template>
                    <div>
                        <b-alert class="text-center" v-model="showDismissibleAlert" variant="info" dismissible>
                          If you are changing the email address, the user's password would be reset randomly and the new user should trigger a password reset email to login.
                        </b-alert>
                        <h2> Edit User </h2>
                        <hr class="solid">
                        <b-form @submit="editUser">
                            <b-form-group label="Name" id="name-group"
                                          label-for="name" v-model="user_data.name">
                                <b-form-input
                                  id="name"
                                  v-model="user_data.name"
                                  placeholder="Enter name"
                                  required
                                  maxlength="50"
                                ></b-form-input>
                            </b-form-group>
                            <b-form-group label="Email Address" id="email-group"
                                          label-for="email" >
                                <b-form-input
                                  id="email"
                                  v-model="user_data.email"
                                  type="email"
                                  placeholder="Enter email"
                                  required
                                ></b-form-input>
                            </b-form-group>

                            <b-form-group v-if="is_clerk" label="Role" id="role-label"
                                          label-for="role" >
                                <b-form-select v-model="selected" id="role" :options="options"></b-form-select>
                            </b-form-group>
                            <b-button @click="editUser" variant="primary">Save</b-button>
                        </b-form>
                    </div>
                </template>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>



<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    var app = new Vue({
        delimiters: ['[[',']]'],
        el: '#app',
        data() {
            return{
                user_data: null,
                selected: null,
                is_clerk: false,
                options: [
                    { value: "Admin", text: "Admin" },
                    { value: "Billing Clerk", text: "Billing Clerk"}
                ],
                showDismissibleAlert: true
            }
        },
        mounted: function() {
            this.getUser()
        },
        methods: {
            getUser: function(){
                axios.get("{% url 'user_list' %}" + {{ id }})
                .then(response =>{
                    this.user_data = response.data
<!--                    if (response.data.groups[0] != "Customers"){-->
<!--                        this.selected = response.data.groups[0]-->
<!--                    }-->
<!--                    else{-->
<!--                        delete this.user_data['groups']-->
<!--                        this.is_staff = false-->
<!--                    }-->

                    if (response.data.groups[0] == "Billing Clerk"){
                        this.selected = response.data.groups[0]
                        this.is_clerk = true
                    }
                    else{
                        delete this.user_data['groups']
                    }
                })
                .catch(error => {
                    if(error.data.detail){
                        alert(error.data.detail)
                    }else{
                        console.log(error)
                        alert("Something went wrong")
                    }
                })
            },
            editUser: function(event){
                event.preventDefault()
                if (this.selected){
                    this.user_data.groups[0] = this.selected
                }
                axios.put("{% url 'user_list' %}" + {{ id }}, this.user_data)
                .then(response => {
                    alert("Successfully saved!")
                })
                .catch(error => {
                    if (error.data.name){
                        alert(error.data.name)
                    }
                    else if (error.data.email){
                        alert(error.data.email)
                    }
                    else{
                        alert("Something went wrong while saving the details")
                    }
                })
            }
        },
    });
</script>

{% endblock body %}