{% extends 'mainbase.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock head %}

{% block title %}
Users
{% endblock title %}

{% block body %}
<div class="row h-100">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-3" id="app">
        <h3 class="text-center mb-3">Manage Users</h3>
        <hr class="solid">
        <template>
            <div>
                <b-row class="mb-3" align-h="between">
                    <b-col md="6">
                        <b-form-input
                              id="filter-input"
                              v-model="filter"
                              type="search"
                              placeholder="Type to Search"
                            >
                        </b-form-input>
                    </b-col>
                    <b-col md="6" class="text-right">
                        <a href="{% url 'add_user' %}" class="btn btn-primary" role="button" aria-pressed="true">Add New User</a>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-table borderless striped hover sort-icon-left :filter="filter" class="" :fields="fields" :items="users"
                                 :per-page="perPage" :current-page="currentPage" responsive="sm" >
                          <!-- A virtual column -->
                          <template #cell(index)="data">
                            <div v-if="data.item.id != 8">[[ data.index + 1 ]]</div>
                          </template>

                          <!-- A custom formatted column -->
                          <template #cell(name)="data">
                            <a v-if="data.item.id != 8" :href=" baseURL + data.item.id ">[[ data.item.name ]]</a>
                          </template>

                          <!-- A virtual composite column -->
                          <template #cell(email)="data">
                            <div v-if="data.item.id != 8">[[ data.item.email ]]</div>
                          </template>

                        <template #cell(id)="data" class="text-center">
                              <a  v-if="data.item.id != 8"  :href=" baseURL + data.item.id " class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                </svg>
                              </a>
                                <trash v-if="data.item.id != 8" :id="data.item.id" :key="data.item.id"></trash>
                          </template>
                        </b-table>
                        <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage"></b-pagination>
                    </b-col>
                </b-row>
            </div>
        </template>
    </div>
    <div class="col-md-2"></div>
</div>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    Vue.component('trash', {
        props: ['id'],
        data: function(){
            return{
                confirmDelete: null
            }
        },
        methods: {
            deleteConfirmation() {
                this.confirmDelete = ''
                this.$bvModal.msgBoxConfirm('Please confirm that you want to delete this user.', {
                title: 'Delete Confirm',
                size: 'md',
                buttonSize: 'md',
                okVariant: 'danger',
                okTitle: 'Delete',
                cancelTitle: 'No! This was by mistake',
                cancelVariant: 'success',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            })
            .then(value => {
                this.confirmDelete = value
                if (this.confirmDelete == true){
                    this.deleteUser()
                }
            })
            .catch(err => {
                console.log(err)
            })
          },
            deleteUser: function(){
                axios.delete("{% url 'user_list' %}" + this.id)
                .then(response => {
                    this.$root.getUsers()
                })
                .catch(error => {
                    console.log(error)
                })
            }
        },
        template: `<button type="button" class="btn btn-danger btn-custom-delete" @click="deleteConfirmation()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
        </svg>
        </button>`
    });
    var app = new Vue({
        delimiters: ['[[',']]'],
        el: '#app',
        data: function(){
            return{
                fields: [
                    'index',
                    {
                    key: 'name',
                    sortable: true
                    },
                    {
                    key: 'email',
                    sortable: true
                    },
                    {
                    key: 'id',
                    label: 'Actions'
                    }
                ],
                users: [],
                baseURL: "{% url 'users' %}",
                filter: '',
                perPage: 10,
                currentPage: 1
            }
        },
        mounted: function() {
            this.getUsers()
        },
        computed:{
            rows() {
                return this.users.length
            }
        },
        methods: {
            getUsers: function(){
            this.users = []
            axios.get("{% url 'user_list' %}")
            .then(response => {
                for (var user of response.data){
                    if (user.id != 8 && user.id != 2){
                        this.users.push(user)
                    }
                }
            })
            .catch(function(error){
                alert(error)
            })
            },
        }
    });
</script>
{% endblock body %}