{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<style>

</style>
{% endblock head %}
{% block title %}
Success
{% endblock title %}

{% block body %}
{% load crispy_forms_tags %}
<section class="container-fluid h-100">
    <section class="row justify-content-center align-items-center h-100">
        <section class="col-md-4 col-12 col-sm-6">
            <section class="mx-2">
                <div class="card">
                  <div class="card-body">
                      <h2 class="text-center mb-5 mt-3">Signup Successful</h2>
                      <hr class="mb-3" style="background-color:#ccc;">
                      <p class="card-text text-center">Please check your mailbox for an activation link.</p>
                  </div>
                </div>
            </section>
        </section>
        <section class="col-md-8 col-12 col-sm-6 h-100" style="background-color:#171a29">
        </section>
    </section>
</section>
{% endblock body %}